body{
    background-image: url(/img/bg.jpg);
}

h1 {
  /* Màu chữ */
  color: blue;
  /* Kiểu chữ */
  font-style: italic;
  /* Font chữ */
  font-family: 'Times New Roman', Times, serif;
  /* Viết hoa hoặc thường */
  text-transform: uppercase;
  /* căn lề */
  text-align: center;
  /* Cỡ chữ */
  font-size: 25px;
  /* Độ trong suốt */
  opacity: 90%;
}
p {
  color: blueviolet;
  font-size: 22px;
}
